/* tailwind dependencies support here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.rest_time_wrapper {
		border-radius: 999px;
		background: #15aabf;
		padding: 10px 12px;
		text-align: center;
	}

	.rest_time_wrapper {
		display: grid;
		grid-template-columns: 22% 3% 22% 3% 22% 3% 22%;
	}

	.timer_devider {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		color: #00e1ffbb;
	}
}
